* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: linear-gradient(120deg, #cc50f1 0%, #eea27f 100%);
	color: white;
	font-family: 'Poppins', sans-serif;
	min-height: 100vh;
}
header {
	font-size: 2rem;
	min-height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
